@charset "UTF-8";
/* estilos.css */
@import url("https://fonts.googleapis.com/css?family=Tangerine");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SPV SELECTOR - PROPIEDAD - VALOR*/
/* LOS SELECTORES SON TODAS NUESTRAS ETUQIETAS HTML*/
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

/* PARTIMOS DE UN ORDEN JERARQUICO PARA LLEGAR A LA IMAGEN =SELECTORES*/
/* DENTRO APLICAREMOS PROPIEDADES Y A ESAS PROPIEDADES SUS RESPECTIVOS VALORES*/
/*tipos de medidas:
%=tamaÃ±o relativo
 px= tamaÃ±o fijo
 vh=
 vw=  */
.wrapper {
  background-color: rgba(39, 37, 134, 0.658);
}

.brand span {
  color: rgb(158, 39, 108);
}

.brand {
  margin-top: -7px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.MENU {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.MENU li {
  list-style: none;
}

.MENU a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.MENU .ACTIVE {
  color: rgb(0, 247, 255);
}

.MENU a:hover {
  background-color: aqua;
  color: #100a24;
  transition: ease-in 0.5s;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*ESTRUCUTURA ABOUT ME*/
.info-content {
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  /*INFO CONTENT*/
}
.info-content .about-facu {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.info-content .about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-content .about-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-content .about-info img {
  width: 280px;
  border: 7px solid aqua;
  height: 380px;
}

@media (max-width: 992px) {
  .info-content {
    flex-direction: column;
  }
}
/*/////////////////////////////*/
h1 {
  font-size: 3em;
}

span {
  color: aqua;
}

.download {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download:hover {
  background-color: #fff;
}

.about-info h2 {
  font-size: 2em;
  color: #19322d;
}

.about p {
  margin-bottom: 1em;
}

.portfolio {
  background-color: rgba(0, 4, 255, 0.349);
}

.portfolio-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.portfolio-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #1b6d7c;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../images/project\ image.webp);
  background-size: cover;
}

.card__title {
  padding: flex;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}

.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.articles {
  background-color: rgba(0, 4, 255, 0.349);
}

.articles, h2 {
  color: #000000;
}

.article-module-1 {
  margin: 20px;
  padding: 15px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.article-module-2 {
  margin: 20px;
  padding: 15px;
}

.article-module-3 {
  margin: 20px;
  padding: 15px;
}

/*# sourceMappingURL=estilos.css.map */
