@charset "UTF-8";
/* estilos.css */
@import url("https://fonts.googleapis.com/css?family=Tangerine");
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #155263;
}

.footer-content h2 {
  font-family: Playfair Display;
  font-size: 3em;
}
.footer-content h2 h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}
.sotial-networks i {
  font-size: 1.5em;
}
.sotial-networks .color-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.sotial-networks .color-linkedin {
  color: #0077b5;
}
.sotial-networks .color-twitter {
  color: black;
}

.wrapper {
  background-color: rgba(37, 71, 134, 0.658);
}

.brand span {
  color: rgba(39, 37, 134, 0.658);
}

.brand {
  margin-top: -7px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.MENU {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.MENU li {
  list-style: none;
}
.MENU a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.MENU .ACTIVE {
  color: rgb(0, 247, 255);
}

.MENU a:hover {
  background-color: aqua;
  color: #100a24;
  transition: ease-in 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SPV SELECTOR - PROPIEDAD - VALOR*/
/* LOS SELECTORES SON TODAS NUESTRAS ETUQIETAS HTML*/
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

/* PARTIMOS DE UN ORDEN JERARQUICO PARA LLEGAR A LA IMAGEN =SELECTORES*/
/* DENTRO APLICAREMOS PROPIEDADES Y A ESAS PROPIEDADES SUS RESPECTIVOS VALORES*/
/*tipos de medidas:
%=tamaÃ±o relativo
  px= tamaÃ±o fijo
  vh=
  vw=  */
.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*ESTRUCUTURA ABOUT ME*/
.info-content {
  background: #407088;
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
  /*INFO CONTENT*/
}
.info-content .about-facu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.info-content .about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-content .about-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-content .about-info img {
  width: 280px;
  border: 7px solid aqua;
  height: 380px;
}

h1 {
  font-size: 3em;
}

span {
  color: #f96d00;
}

.download {
  padding: 10px 20px;
  background-color: rgb(157, 189, 189);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download:hover {
  background-color: #fff;
}

.dowload-button {
  text-align: center;
  margin-bottom: 20px;
}

.about-info h2 {
  font-size: 2em;
  color: #f96d00;
}

.about p {
  margin-bottom: 1em;
}

.portfolio {
  background-color: rgba(39, 37, 134, 0.658);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5em;
  align-items: center;
}

.portfolio-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5em;
  text-align: center;
}
.portfolio-heading h2 {
  font-size: 2.5em;
  color: #fff;
}
.portfolio-heading .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: rgb(223, 223, 223);
  margin: 1em;
}
.card img {
  width: 100%;
  height: 150px;
  background-image: url(../images/project\ image.webp);
  background-size: cover;
}
.card title {
  padding: flex;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}
.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button span {
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

button :hover span {
  background: none;
  transform: scale(0.9);
}

.project-details-button a {
  text-decoration: none;
  color: rgba(0, 255, 255, 0.363);
}

#header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center/cover no-repeat;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 50px;
}

@media (max-width: 992px) {
  .info-content {
    flex-direction: column;
  }
  .gallery {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
/*/////////////////////////////*/
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3.2em;
  line-height: 1.2;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 100%;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
