.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #155263; 
  }
  
  .footer-content h2 {
    font-family: Playfair Display;
    font-size: 3em;
    h5 {
      font-size: 1.5em;
      text-align: center;
    }
  }
  
  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    i {
      font-size: 1.5em;
    }
    .color-instagram {
      color: orange;
    }
    .color-linkedin {
      color: green;
    }
    .color-twitter{
      color: black;
    }
  }
  