.articles{
    background-color:rgba(18, 163, 163, 0.397)
  }
  .articles, h2{
    color:#000000;
  }
  .article-module-1{
    margin: 20px;
    padding: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  .article-module-2{
    margin: 20px;
    padding: 15px
  }
  .article-module-3{
    margin: 20px;
    padding: 15px
  }