.articles{
    background-color:rgba(18, 163, 163, 0.397);
    padding: 20px 40px;
    .articles-estiles {
display: flex;
align-items: center;
width: 100%;
    }
  
  }
  .articles, h2{
    color:#000000;
  }
  .article-module-1 {
    padding: 15px;
    margin: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: auto;
  }
  .article-module-2 {
    margin: 20px;
    padding: 15px;
    margin-bottom: auto;
  }
  .article-module-3 {
    margin: 20px;
    padding: 15px
  }
